<style>
	/* generic table styling */
	
	/* filter-table specific styling */
	td.alt { background-color: #ffc; background-color: rgba(255, 255, 0, 0.2); }
	/* special filter field styling for this example */
	.input-filter-container { position: fixed; top: 1em; right: 1em; border: 2px solid #66f; background-color: #eef; padding: 0.5em; }
</style>
<script>
$(document).ready(function() {
	$('table').filterTable({ // apply filterTable to all tables on this page
	inputSelector: '#input-filter' 
	});
	
	
});
</script>


	<div class="row clearfix">
		<div class="col-md-10 col-md-offset-1">
			
			
			<legend >Actividades Por Participante</legend>

			<div class="col-sm-12" style="overflow: auto;  ">
			<row>
			<div class="col-md-4 col-md-offset-8">
				
				<label for="input-filter">Buscar:</label>
				<input type="search" class="form-control" id="input-filter" size="10" placeholder="search">
			</div>
			</row>

				<table id="table"   class="table table-striped" >

					<thead >
					
					<th width="10%">Identificador</th>
					<th width="30%">Nombre</th>
					<th width="20%">Fecha inicio</th>
					<th width="20%">Fecha fin</th>
					
					
						
					<th width="20%" colspan="2" class="text-center">Acciones</th>
					</thead>
					</table>
				</div>

				<div class="col-sm-12" style="overflow: auto; height: 500px;">
				<table id="table"  class="table table-striped" >
				<% _.each(userHasActivities, function(uHActivity) { %>
					<tr>
						
						<td width="10%"><%=uHActivity.activity.idNumber%> </td>
						<td width="30%"><%=uHActivity.activity.name%></td>
						<td width="20%"><%=uHActivity.activity.startDate%></td>
						<td width="20%"><%=uHActivity.activity.endDate%> </td>
						<td width="20%" colspan="4">
							<center><a href="/user/reply/<%=uHActivity.user.id%>" style="text-decoration: none; color: blue;"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
						
														
							
						
							</center>
						</td>
					</tr>
					<%})%>
				</table>
				
			</div>
		</div>
	</div>
